@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#map, #svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:100%;
}
.booth .marker {
  stroke: #1C1C1C;
}
.cell {
  fill: rgba(0, 0, 0, 0);
}
#tip {
  position: absolute;
  opacity: 0;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, .75);
  pointer-events: none;
  color: white;
}
#tip p, #tip h1 {
  margin: 0;
  padding: 0;
}
#tip h1 {
  font-size: .9rem;
}
#tip p {
  font-family: "ABCSans Regular", sans-serif;
  font-size: .8rem;
}
